<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.relation.mapper.FollowerMapper">

    <insert id="insertIntoShardedTable">
        INSERT INTO followers_${tableIndex} (follower_id, following_id, created_at, updated_at)
        VALUES (#{followerId}, #{followingId}, NOW(), NOW())
    </insert>

    <update id="deleteFromShardedTable">
        UPDATE followers_${tableIndex}
        SET deleted = 1, updated_at = NOW()
        WHERE follower_id = #{followerId} AND following_id = #{followingId} AND deleted = 0
    </update>

</mapper>
